<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.fluks">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="io.fluks.App"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name="io.fluks.Start$Activity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="io.fluks.feature.login.view.LoginActivity"
            android:label="Login" />
        <activity android:name="io.fluks.feature.scheme.view.SchemeActivity" />
        <activity android:name=".feature.raw.view.RawActivity" />
    </application>

</manifest>